<h1 class="text-center">Row reduction</h1>
<app-matrix-input #matrixInput></app-matrix-input>
<div class="flex justify-center flex-wrap gap-2">
  <!-- TODO do this more in a more pro way, make matrix-input a custom angular form control -->
  <button mat-raised-button (click)="reduceGaussJordan()">Reduced row-echelon form (Gauss-Jordan)</button>
  <button mat-raised-button (click)="reduceGauss()">Row echelon form</button>
</div>

<div class="flex my-5 mx-5 gap-x-10 flex-nowrap">
  <div #stepsContainer></div>
</div>

<div class="fixed bottom-0 w-full">
  <p class="text-center">Made by Team 7</p>
</div>
